Source: ros-melodic-moveit-visual-tools
Section: misc
Priority: extra
Maintainer: Dave Coleman <davetcoleman@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-cmake-modules, ros-melodic-eigen-conversions, ros-melodic-geometry-msgs, ros-melodic-graph-msgs, ros-melodic-moveit-core, ros-melodic-moveit-ros-robot-interaction, ros-melodic-roscpp, ros-melodic-roslint, ros-melodic-rviz-visual-tools, ros-melodic-std-msgs, ros-melodic-tf-conversions, ros-melodic-trajectory-msgs, ros-melodic-visualization-msgs
Homepage: https://github.com/davetcoleman/moveit_visual_tools
Standards-Version: 3.9.2

Package: ros-melodic-moveit-visual-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-cmake-modules, ros-melodic-eigen-conversions, ros-melodic-geometry-msgs, ros-melodic-graph-msgs, ros-melodic-moveit-core, ros-melodic-moveit-ros-robot-interaction, ros-melodic-roscpp, ros-melodic-roslint, ros-melodic-rviz-visual-tools, ros-melodic-std-msgs, ros-melodic-tf-conversions, ros-melodic-trajectory-msgs, ros-melodic-visualization-msgs
Description: Helper functions for displaying and debugging MoveIt! data in Rviz via published markers
